%h3.name= project.name

%img.thumbnail{ src: project.image_path }

.description
  %p= project.description

.links
  - if project.has_website?
    = link_to "Website", project.website_url
    |
  = link_to "Github", project.github_url
