- provide :title, 'Projects'

.content.center-align
  %h1.title.center-text Projects

  .projects.center-text
    - @projects.each do |project|
      = render partial: 'project', locals: { project: project }
      %br

  %br
  .center-text= link_to_homepage
