/*
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Courier New';
}
h1 {
  font-family: 'Georgia';
}
a {
  text-decoration: none;
  color: #666699;
}
.title {
  font-style: italic;
}
.center-align {
  margin: auto;
  width: 60%;
}
.center-text {
  text-align: center;
}
.container {
  padding: 18%;
}
.content {
  margin-bottom: 3%;
}
.flash-error {
  color: red;
}
