.center-align {
  margin: auto;
  width: 60%;
}
.center-text {
  text-align: center;
}
.container {
  padding: 18%;
}
#headshot {
  width: 200px;
  height: 200px;
}
#about-me {
  margin: auto;
  width: 80%;
  font-size: 18px;
}
